<link rel="stylesheet" href="/css/signIn.css" />
<form action="/interview/create" method="POST">
  <h2>Welcome</h2>
  <h4>Schedule an interview</h4>
  <input type="text" name="name" placeholder="Enter name" required /><br />
  <input type="email" name="email" placeholder="Enter email" /><br />
  <input type="text" name="company" placeholder="Company" /><br />
  <input type="date" name="date" placeholder="Date" /><br />
  <input type="submit" id="sign" value="SET" />
</form>