<link rel="stylesheet" href="/css/signIn.css" />
<form action="/student/create" method="POST">
  <h2>Welcome</h2>
  <h4>Fill the details</h4>
  <input type="text" name="name" placeholder="Enter name" required /><br />
  <input type="email" name="email" placeholder="Enter email" /><br />
  <input type="text" name="batch" placeholder="Batch" /><br />
  <input type="text" name="status" placeholder="Status" /><br />
  <input type="text" name="college" placeholder="College" /><br />
  <input type="submit" id="sign" value="ADD" />
</form>